body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

tr {
    width: 399px;
}
td {
    width: 133px;
    height: 133px;
    border: 5px solid black;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(26, 221, 0, 0.1);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

table {
    border-collapse: collapse;
    position: relative;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 26.5px;
    top: 26.5px;
}

.d-none {
    display: none;
}

.player-panel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}

.player-panel img {
    margin-right: 16px;
    width: 60px;
    height: 60px;
}

.player-panel div{
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.player-inactive {
    opacity: 0.5;
}

.horizontal-line {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    transform: scaleX(0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0);
}

.position-relative {
    position: relative;
}

.game-over {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.restart-btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #1c0b7f;
    z-index: 2;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 60px;
}

.restart-btn:hover {
    background-color: #332292;
}



@media (max-width: 490px) {
    .player-panel {
        font-size: 16px;
    }

    .player-panel img {
        margin-right: 8px;
        width: 30px;
        height: 30px;
    }

    .shape {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 25px;
        top: 25px;
    }

    tr {
        width: 270px;
    }
    td {
        width: 90px;
        height: 90px;
    }

    .line-0 {
        top: 40px !important;
    }
    
    .line-1 {
        top: 137px !important;
    }

    .line-2 {
        top: 234px !important;
    }

    .line-3 {
        top: 140px !important;
        right: 98px !important;
    }

    .line-4 {
        top: 140px !important;
        right: 1px !important;
    }

    .line-5 {
        top: 140px !important;
        left: 97px !important;
    }

    .line-6 {
        top: 138px !important;
    }

    .line-7 {
        top: 138px !important;
    }
}
